__pycache__
*pyc
*pyo
*/lib
*/*/lib
*/*/*.dll
*/*.dll
*/*/*.exe
*/*.exe
rainmeter skin/@Resources/images/coverWeb.png
rainmeter skin/@Resources/music.txt
data/*
*/*/*.log
*/*.log
rpc icons
rpc/debug_test2.py
